* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #555;
  font-weight: 600;
}

img {
  cursor: pointer;
}

/* ========================= this is a color effect option ========================== */

/* :root{} */

/* ========================= this is a scroll edit option ========================== */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: #000;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* =============================== this is  navbar section =============================== */
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 2rem;
}

.navbar {
  display: flex;
  padding: 1.4rem;
}

.add_card {
  width: 1.9rem;
  height: 1.9rem;
}

.logo img {
  width: 8rem;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-right: 1.4rem;
}

nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background: #ff523b;
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  transition: width 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}

/* =============================== this is  hero section =============================== */

.header .row {
  margin-top: 3rem;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.col_2 {
  flex-basis: 50%;
  min-width: 19rem;
}

.col_2 img {
  max-width: 100%;
  padding: 3rem 0;
}

.col_1 h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 1.2rem 0;
}

.col_1 p {
  line-height: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: #ff523b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  margin: 2rem 0;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

/* =============================== this is  Featured products =============================== */

.categories {
  margin: 4.5rem 0;
}

.small_container {
  max-width: 1080px;
  margin: auto;
  padding: 0 1.8rem;
}

.col_3 {
  flex-basis: 30%;
  min-width: 15.8rem;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 335px;
  height: 335px;
  border-radius: 5%;
}

.col_3 img {
  width: 100%;
  transition: all 0.5s linear;
}

.col_3 img:hover {
  transform: scale(1.25);
}

/* =============================== this is  Featured_2 products =============================== */

.title {
  text-align: center;
  margin: 0 auto 5.5rem;
  position: relative;
  line-height: 4rem;
  color: #555;
}

.title::after {
  content: "";
  width: 5rem;
  height: 5px;
  background: #ff523b;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  border-radius: 2rem;
  transform: translateX(-50%);
}

.col_4 {
  flex-basis: 25%;
  padding: 0.7rem;
  min-width: 13rem;
  margin-bottom: 3.2rem;
  transition: transform 0.5s;
}

.col_4 img {
  width: 100%;
}

.rating i {
  color: #ff523b;
}

h4 {
  color: #555;
  font-weight: 500;
}

.col_4 p {
  color: #555;
}

.col_4:hover {
  transform: translateY(-10px);
}

/* =============================== this is  offers =============================== */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 5rem;
  padding: 2rem 0;
}

.col_2 .offer_img {
  padding: 3.2rem;
}

.col_2 h2 {
  font-size: 3rem;
  margin: 0.8rem 0;
}

small {
  color: #555;
}

/* =============================== this is  testimonial card =============================== */

.testimonial {
  padding-top: 6.5rem;
}

.testimonial .col_3 {
  text-align: center;
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.1);
  padding: 2.5rem 1.5rem;
  transition: all 0.5s;
}

.test_img {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1.4rem;
}

.testimonial .test_img img {
  width: 100%;
  transition: all 0.5s;
}

.testimonial .test_img img:hover {
  transform: scale(1.25);
}
.testimonial .col_3:hover {
  transform: translateY(-10px);
}

.fa-quote-left {
  font-size: 2.2rem;
  color: #ff523b;
}

.col_3 p {
  font-size: 0.83rem;
  margin: 0.7rem 0;
  color: #777;
}

.testimonial .col_3 h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #555;
  font-weight: 600;
}

/* =============================== this is brands =============================== */

.brands {
  margin: 6.5rem auto;
}

.col_5 {
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  margin: 1rem auto;
}

.col_5 img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col_5:hover {
  transform: translateY(-10px);
  filter: brightness(10%);
}

/* =============================== this is footer =============================== */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 0.8rem;
  padding: 4rem 0 1.4rem;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 1.4rem;
}

.footer_col_1,
.footer_col_2,
.footer_col_3,
.footer_col_4 {
  min-width: 16rem;
  margin-bottom: 1.4rem;
}

.footer_col_1 {
  flex-basis: 30%;
}
.footer_col_2 {
  flex: 1;
  text-align: center;
}

.footer_col_2 img {
  width: 12rem;
  margin-bottom: 1.4rem;
}

.footer_col_3,
.footer_col_4 {
  flex-basis: 12%;
  text-align: center;
}

.app_logo {
  margin-top: 1.4rem;
}
.app_logo img {
  width: 9rem;
}

/* =============================== this is copy_right message =============================== */

.footer hr {
  height: 1px;
  border: none;
  background: #ccc;
  margin: 1.4rem 0;
}

.Copy_right {
  text-align: center;
  font-weight: 600;
}

.menu_icon {
  display: none;
}

/* =============================== this is Products page css =============================== */

.row_2 {
  justify-content: space-between;
  margin: 5rem auto 3rem;
}

.row_2 h2 {
  font-weight: 600;
}

select {
  border: 1px solid #ff523b;
  padding: 0.4rem;
  background: #fff;
}
select:focus {
  outline: none;
}

/* =============================== this is pagination page css =============================== */

.page_btn {
  margin: 0 auto 5rem;
}

.page_btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background 0.3s;
  /* font-size: 1rem; */
  font-weight: 600;
}

.page_btn span:hover {
  background: #ff523b;
  color: #fff;
}

/* =============================== this is Product details  page css =============================== */

.single_product {
  margin-top: 5rem;
}

.small_img_row {
  display: flex;
  justify-content: space-between;
}

.small_img_col {
  flex-basis: 24%;
}

.single_product .col_2 img {
  padding: 0;
  width: 100%;
}

.single_product .col_2 {
  padding: 1.4rem;
}

.single_product h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 1rem;
}
.single_product h4 {
  margin: 1.4rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.single_product select {
  display: block;
  padding: 0.7rem;
}

.single_product input {
  width: 3.3rem;
  height: 2rem;
  padding-left: 0.2rem;
  font-size: 1.4rem;
  margin-right: 1.3rem;
}

.single_product input:focus {
  outline: none;
}

.single_product .btn {
  padding: 0.5rem 2rem;
}

.single_product h3 {
  margin-bottom: 1.4rem;
}

.single_product h3 i {
  margin-left: 1.3rem;
  color: #ff523b;
}

.single_product {
  color: #555;
  font-weight: 500;
}

/* =============================== this is cart page css =============================== */

.cart_page {
  margin: 5rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart_info {
  display: flex;
  flex-wrap: wrap;
  color: #555;
}

th {
  text-align: left;
  padding: 0.4rem;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td {
  padding: 0.7rem 0.4rem;
}

td input {
  width: 2.8rem;
  height: 2rem;
  padding: 0.4rem 0 0.4rem 0.4rem;
}
td input:focus {
  outline: none;
}

td a {
  color: #ff523b;
  font-size: 0.8rem;
}

td img {
  width: 5rem;
  height: 5rem;
  margin-right: 0.7rem;
}

.total_price {
  display: flex;
  justify-content: flex-end;
}

.total_price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 23rem;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

/* =============================== this is media query =============================== */

@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #333;
    width: 100%;
    left: 0;
    top: 4.5rem;
  }

  nav ul li {
    margin: 0.7rem 2rem 0.7rem 0;
  }

  nav ul li a {
    color: #fff;
  }

  .menu_icon {
    display: block;
    width: 1.5rem;
    margin-left: 1.7rem;
    height: 1.5rem;
    position: relative;
    top: 0.4rem;
  }

  #Menu_items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  #Menu_items.menu_items_show {
    max-height: 18rem;
  }

  .navbar {
    padding: 1.2rem 0rem;
  }

  .col_3 {
    flex-basis: auto;
    width: 325px;
    height: 325px;
    margin-top: 1.5rem;
  }

  .col_4 {
    flex-basis: auto;
  }

  .col_2 .offer_img {
    padding: 1rem;
  }

  .col_2 h2 {
    font-size: 2.5rem;
  }

  .footer_col_3,
  .footer_col_4 {
    flex-basis: 12%;
    text-align: left;
  }

  .footer_col_1,
  .footer_col_2,
  .footer_col_3,
  .footer_col_4 {
    min-width: 16rem;
    margin: 2rem 0;
  }

  .testimonial .col_3 {
    padding: 0.5rem 1.5rem;
  }

  .row_2 {
    justify-content: space-between;
    margin: 5rem auto 3rem;
    gap: 1rem;
  }

  .page_btn span {
    margin-bottom: 1rem;
  }

  .single_product .col_2 {
    padding: 0.4rem;
  }

  .single_product h1 {
    font-size: 1.8rem;
  }

  .cart_info {
    gap: 1rem;
  }
}
