* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #555;
  font-weight: 600;
}

img {
  cursor: pointer;
}

/* ========================= this is a color effect option ========================== */

/* :root{} */

/* =============================== this is  starting of main code =============================== */

/* =============================== this is  navbar section =============================== */
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 2rem;
}

.navbar {
  display: flex;
  padding: 1.4rem;
  align-items: center;
}

.add_card {
  width: 1.9rem;
  height: 1.9rem;
}

.logo img {
  width: 8rem;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-right: 1.4rem;
}

/* =============================== this is  hero section =============================== */

.header .row {
  margin-top: 3rem;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.col_2 {
  flex-basis: 50%;
  min-width: 19rem;
}

.col_2 img {
  max-width: 100%;
  padding: 3rem 0;
}

.col_1 h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 1.2rem 0;
}

.col_1 p {
  line-height: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: #ff523b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  margin: 2rem 0;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

/* =============================== this is  Featured products =============================== */

.categories {
  margin: 4.5rem 0;
}

.small_container {
  max-width: 1080px;
  margin: auto;
  padding: 0 1.8rem;
}

.col_3 {
  flex-basis: 30%;
  min-width: 15.8rem;
  margin-bottom: 2rem;
}

.col_3 img {
  width: 100%;
}

/* =============================== this is  Featured_2 products =============================== */

.title {
  text-align: center;
  margin: 0 auto 5.5rem;
  position: relative;
  line-height: 4rem;
  color: #555;
}

.title::after {
  content: "";
  width: 5rem;
  height: 5px;
  background: #ff523b;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  border-radius: 2rem;
  transform: translateX(-50%);
}

.col_4 {
  flex-basis: 25%;
  padding: 0.7rem;
  min-width: 13rem;
  margin-bottom: 3.2rem;
  transition: transform 0.5s;
}

.col_4 img {
  width: 100%;
}

.rating i {
  color: #ff523b;
}

h4 {
  color: #555;
  font-weight: 500;
}

.col_4 p {
  color: #555;
}

.col_4:hover {
  transform: translateY(-10px);
}

/* =============================== this is  Latest products =============================== */
